body {
    display: grid;
    width: 100vh;
    height: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}
main {
    background-color: red;
}
footer {
    background-color: blue;
}
header {
    background-color: green;
}
nav {
    background-color: yellow;
}